body{
    background-color: rgb(250, 188, 2); /* warm muted green*/
}
nav{
    background-color: rgb(208, 234, 43); /* warm muted yellow*/
    color: #fffff0;
}
h3, h6{
    color: #fffff0;    /* ivory*/
}
h4{
    color: #ffff40;    /*  creamed yellow */
}
::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}
.columns{
    columns: 100px 2;
}
.btn-small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    color: white;
}
.task-header{
    margin-top: 5px;
    margin-left: 10%;
}
.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    font-size: 16px;
    padding: 8px;
    border-radius: 50%;
}
.btn-vote, .button1 {
    background-color: #4CAF50; /* Green */
}
.btn-edit {
    background-color: blue; /*  */
}
.btn-delete {
    background-color: red; /*  */
}

nav .logo {
    margin-left: 50px;
    font-size: 2em;
  }
nav .logo1 {
    display: none;
  }

#legend {
    position: relative;
    color: gray;
    font-size: larger;
    left: 100px;
}
.error {
    margin-left: 100px;
}
@media only screen and (min-width: 601px) {
  nav .button-collapse {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  nav .logo1 {
    margin-left: 50px;
  }
  nav .logo {
    font-size: 1em;
  }
}
/* #f44280 */