{% extends 'base.html' %}
{% block content %}

<h3>Add Recipe </h3>
<div class="row">
   <form class="col s12" action="{{url_for('insert_recipe')}}" method="POST">
      <div class="row">
         <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>Recipe Details</div>
            <div class="collapsible-body">
               <span>
                  <i class="material-icons prefix">assignment</i>
                  <select id="cuisine" name="cuisine">
                  <option value="" disabled selected>Choose Cuisine</option>
                  {% for cuisine in cuisines %}
                  <option value="{{cuisine}}">{{cuisine}}</option>
                  {% endfor %}
                  </select>
                  <input id="recipe_name" name="recipe_name" placeholder="Recipe name" type="text" class="validate">
                  <input value="author" name="author" placeholder="Author" type="text" class="validate">
                  <input value="country" name="country" placeholder="Country of author" type="text" class="validate">
               </span>
            </div>
           </li>
           <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>Recipe Ingredients</div>
            <div class="collapsible-body">
               <span>
                  <div class="row">
                     <div class="input-field col s12">
                        <!--
                        <input name="ingredient" placeholder="Ingredient" 
                        type="text" class="validate">
                        -->
                        <div class="col s8 ingredient">
                           
                        </div>
                     </div>
                     <button class="btn waves-effect waves-light" type="button" onclick="createInputs(2, 'ingredient')">
                           Add More<i class="material-icons right">send</i>
                  </div>
               </span>
            </div>
           </li>
           <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>Recipe Instructions</div>
            <div class="collapsible-body">
               <span>
                  <div class="row">
                     <div class="input-field col s12 instruction">
                        <i class="material-icons prefix">subject</i>
         
                     </div>
                     <button class="btn waves-effect waves-light" type="button" onclick="createInputs(1, 'instruction')">
                           Add Another<i class="material-icons right">send</i>
                  </div>
               </span>
            </div>
           </li>
      </ul>    
      <div class="row">
         <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
             <i class="material-icons right">send</i>
         </button>
      </div>
   </form>
</div>

{% endblock %}