{% extends 'base.html' %}
{% block content %}

<h3>Error Page </h3>
<hr>
<div id ="error"> <h4> {{ error }} </h4></div>
<hr>
<div class="row error">
   <h5> Errors can occur if you do not give correct inputs.</h5>
   <h6> To add/edit you must enter: </h6>
   <p> At least 2 lines for ingredients.</p>
   <p> One line for instructions.</p>
   <p> All of the lines for Author, Recipe name and Country.</p>
   <p> </p>
   <h6> To delete a recipe you must enter the recipe name correctly. </h6>
   
</div>    
<hr>
{% endblock%}