{% extends 'base.html' %}
{% block content %}
{{cats}}
<h3>What's for Dinner!</h3>
<div class="row">
   <form class="col s12" action="{{url_for('get_recipes')}}" method="POST">
      <div class="row">
         <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>View all Recipes</div>
            <div class="collapsible-body">
               <span>
                  <i class="material-icons prefix">assignment</i>
                  <select id="category" name="recipe_name">
                  <option value="recipe" disabled selected>Choose a Recipe</option>
                  {% for cat in recipes %}
                  <option value="{{cat}}">{{cat}}</option>
                  {% endfor %}
                  </select>
               </span>
            </div>
           </li>
           <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>View recipes by Cuisine</div>
            <div class="collapsible-body">
               <span>
                  <i class="material-icons prefix">assignment</i>
                  <select id="category" name="cuisine">
                  <option value="cuisine" disabled selected>Choose a Cuisine</option>
                  {% for cat in cats %}
                  {% for cuisine in cat.cuisine %}
                  <option value="{{cuisine}}">{{cuisine}}</option>
                  {% endfor %}
                  {% endfor %}
                  </select>
               </span>
            </div>
           </li>
           <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>View recipes by Author</div>
            <div class="collapsible-body">
               <span>
                  <i class="material-icons prefix">assignment</i>
                  <select id="category" name="author">
                  <option value="author" disabled selected>Choose an Author</option>
                  {% for cat in cats %}
                  {% for author in cat.author %}
                  <option value="{{author}}">{{author}}</option>
                  {% endfor %}
                  {% endfor %}
                  </select>
               </span>
            </div>
           </li>
           <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>View recipes by Country</div>
            <div class="collapsible-body">
               <span>
                  <i class="material-icons prefix">assignment</i>
                  <select id="category" name="country">
                  <option value="country" disabled selected>Choose a Country</option>
                  {% for cat in cats %}
                  {% for country in cat.country %}
                  <option value="{{country}}">{{country}}</option>
                  {% endfor %}
                  {% endfor %}
                  </select>
               </span>
            </div>
           </li>
      </ul>    
      <div class="row">
         <button class="btn waves-effect waves-light" type="submit" >Show my recipes
             <i class="material-icons right">send</i>
         </button>
      </div>
   </form>
</div>

{% endblock %}
