{% extends 'base.html' %}
{% block content %}
<h3>Recipes</h3>

<div class="row">
    <form class="col s12" action="{{url_for('show_recipe')}}" method="POST">
      <div class="row">
        <ul >
          <li>
            <select id="recipe" name="recipe_name">
              <option value="" disabled selected>Choose a Recipe</option>
              {%for recipe_name in recipe_names %}
              <option value="{{recipe_name}}">{{recipe_name}}</option>
              {%endfor%}
            </select>
          </li>
        </ul>   
      </div>
      <div class="row">
         <button class="btn waves-effect waves-light" type="submit" >Show this recipe
             <i class="material-icons right">send</i>
         </button>
      </div>
    </form>
</div>
{% endblock %}