{% extends 'base.html' %}
{% block content %}

<h3>Visualize the cookbook</h3>

<hr>
<h5>Top 5 recipes by views:</h5>
Color is relative number of views. Number is votes.
<br><br>
<div id="bar"></div>
<hr>
<h5>Recipe types in cookbook:</h5>
Number is recipes of this type.
<div id="pie"></div>
<hr>

<script src="static/js/d3.min.js"></script>
<script src="static/js/queue.min.js"></script>

<script src="static/js-my/piedraw.js"></script>
<script src="static/js-my/visual.js"></script>

{% endblock %}